<!doctype html>
<html class="no-js">

	<head>
		<base href="#(basePath)" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>登录 - 教育教学成果统计系统</title>

		<!-- Set render engine for 360 browser -->
		<meta name="renderer" content="webkit">

		<!-- No Baidu Siteapp-->
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="icon" type="image/png" href="assets/amazeui/i/favicon.png">

		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="icon" sizes="192x192" href="assets/amazeui/i/app-icon72x72@2x.png">

		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="教育教学成果统计系统" />
		<link rel="apple-touch-icon-precomposed" href="assets/amazeui/i/app-icon72x72@2x.png">

		<!-- Tile icon for Win8 (144x144 + tile color) -->
		<meta name="msapplication-TileImage" content="assets/amazeui/i/app-icon72x72@2x.png">
		<meta name="msapplication-TileColor" content="#0e90d2">

		<link rel="stylesheet" href="assets/layui/css/layui.css">
		<link rel="stylesheet" href="assets/amazeui/css/amazeui.min.css">
		<link rel="stylesheet" href="assets/amazeui/css/app.css">
	</head>

	<body style="background-color: lightgrey;">
		<header class="am-topbar am-topbar-inverse admin-header">
			<div class="am-topbar-brand">
				<strong>ETA</strong>
				<small>教育教学成果统计系统</small>
			</div>
			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
      <span class="am-sr-only">导航切换</span>
      <span class="am-icon-bars"></span>
    </button>
			<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
				<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
					<li class="am-hide-sm-only">
						<a href="javascript:;" id="admin-fullscreen">
							<span class="am-icon-arrows-alt am-icon-fw"></span>
							<span class="admin-fullText">开启全屏</span>
						</a>
					</li>
				</ul>
			</div>
		</header>
		<div class="admin-content">
			<div class="admin-content-body">
				<div class="am-g">
					<div class="am-u-sm-12 am-u-sm-centered">
						<h2 class="am-text-center am-text-xxxl am-margin-top-lg"><img src="../../assets/layui/images/404/404.png" class="am-u-sm-12 am-u-md-8 am-u-lg-6 am-u-sm-centered"></h2>
						<p class="am-text-center"><img src="../../assets/layui/images/404/404_msg.png" class="am-u-sm-12 am-u-md-8 am-u-lg-6 am-u-sm-centered"></p>
						<p class="am-text-center">
							<img src="../../assets/layui/images/404/walk.jpg" class="am-text-center">
                        </p>
                        <a href="/eta8/home" class="am-text-center"><h3>返回首页</h3></a>
					</div>
				</div>
			</div>

			<footer class="admin-content-footer">
				<hr>
				<p class="am-text-center"><small>东南大学成贤学院<br/><a href="http://jsjx.cxxy.seu.edu.cn/">电子与计算机工程学院</a> 技术支持</small></p>
			</footer>
		</div>
		<script src="assets/amazeui/js/jquery.min.js"></script>
		<script src="assets/amazeui/js/amazeui.min.js"></script>
		<script src="assets/amazeui/js/app.js"></script>
		<script src="assets/layui/layui.all.js"></script>
		<script src="assets/amazeui/js/my.js"></script>
	</body>

</html>